/* FindStudent.css */

.findStudent {
    margin: 1rem ;
  }
  
  .findStudent h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }

   
  .findStudentForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .findStudentForm .form{
    display: block;
    flex-grow: 1;
    text-align: left;
  }
  
  .findStudent .form-control {
    margin-bottom: 15px;
    display: inline-block;
    max-width: unset;
    width: 50%;
  }
  
  .form-control label {
    
    margin-bottom: 5px;
    color: black
  }
  
  .form-control input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .form-control select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    outline: none;
  }

  .findStudentForm .btn{
    width: 150px;
    display: block;
    

  }
  
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }



  .generate-btn {
    /* width: 100%; */
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #004B6E;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .generate-btn:hover {
    background-color: #0056b3;
  }
  
  .result-container {
    max-width: 350px;
    padding: 10px;
    margin: 10px auto;
    background-color: rgb(0, 30, 60);
    border: none;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 2px 5px black;
  }
  
  .result-container label {
    margin-right: 10px;
    font-weight: bolder;
    text-transform: uppercase;
  }
  